<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mitra.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AppMitra</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- <icon src="app_icon/ldpi.png" density="ldpi" /> -->
        <icon src="app_icon/mdpi.png" density="mdpi" />
        <icon src="app_icon/hdpi.png" density="hdpi" />
        <icon src="app_icon/xhdpi.png" density="xhdpi" />
        <icon src="app_icon/xxhdpi.png" density="xxhdpi" />
        <icon src="app_icon/xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="AndroidXEnabled" value="true" />
    <!-- <preference name="minSdkVersion" value="21" /> -->
</widget>
